* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

:root {
    --background--color:#04094D;
    --text--color:#CC5E39;
}

body {
    color:var(--text--color);
    background: var(--background--color);
    position:relative;
}
/* background */

    

svg {
    fill: rgb(31, 52, 148);
    position:absolute;
    top:33px;
    left:400px;
}

/* glass effect */
header,
.dropdown,
.map,
.stats-title,
.card-title,
.total-recoveries,
.total-vaccinations,
.total-vaccinated,
.total-cases,
.change-cases,
.total-regionRecoveries {
    border:1px solid;
    border-image-source:linear-gradient(180deg,
    rgba(65, 70, 128, 0.8) 0%,
    rgba(129, 138, 255, 0.5) 100%);
    background:linear-gradient(180deg,
    rgba(65, 70, 128, 0.35) 0%,
    rgba(65, 70, 128, 0.315) 100%);
    box-shadow:0px 5px 5px rgba(129, 138, 255, 0.18);
    backdrop-filter: blur(15px);
    border-radius:5px;
}